#!/usr/bin/make -f

NAME = pzsigner
VERSION = 1.0
PACKAGENAME = pzsigner
PACKAGEVERSION = $(VERSION)-1
URL = "https://pz.gov.pl/PZ%20Signer/linux/x86"
BASENAME = pzsigner.zip

%:
	dh $@

override_dh_auto_clean:
	find src -name '*.class' -delete
override_dh_auto_build:
	mkdir -p build
	wget -N --progress=dot:mega "$(URL)/$(BASENAME)"
	wget -N --progress=dot:mega "http://central.maven.org/maven2/javax/xml/bind/jaxb-api/2.3.1/jaxb-api-2.3.1.jar"
	wget -N --progress=dot:mega "http://central.maven.org/maven2/com/sun/xml/bind/jaxb-impl/2.3.3-b01/jaxb-impl-2.3.3-b01.jar"
	unzip -o "$(BASENAME)" -d build
	javac -cp 'build/x86_64/*' src/com/pentacomp/signer/KeyStoreManager.java
	cp -f build/x86_64/pz-signer-1.0-SNAPSHOT.jar build/x86_64/pz-signer-1.0-SNAPSHOT-modified.jar
	zip -d build/x86_64/pz-signer-1.0-SNAPSHOT-modified.jar META-INF/MANIFEST.MF 'META-INF/SIGNING.*'

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION) 
